<div class="container pt-5 mt-5 justify-content-center">
  <div class="row">
    <div class="col">
    <h2>Todos los eventos</h2>
    <hr />
    </div>
</div>
    <div class="row">
      <ul>
        {{#each events}}
          <li class="pt-3"><strong>{{this.name}}</strong></li>
          <p class="mb-0">Lugar : {{this.location}}</p>
          <p>Fecha: {{this.date}}</p>
              {{#if ../userRole.isAdmin}}
          <a href="/eventos/detalles/{{this._id}}" class="btn btn-success">Ver
            detalles</a>
            {{/if}}

              {{#if ../userRole.isAdmin}}
          <a href="/eventos/editar/{{this._id}}" class="btn btn-info">editar
            evento</a>
                        {{/if}}
              {{#if ../userRole.isAdmin}}
          <form
            action="/eventos/eliminar/{{this._id}}"
            method="POST"
            style="margin-botom:0"
            class="d-inline"
          >
            <input
              type="submit"
              value="eliminar"
              class="btn btn-danger text-white"
            />
          </form>
                                  {{/if}}
    {{#each participants}}
        {{this.username}}
        {{/each}}
        {{/each}}
      </ul>
    </div>
    <div class="row">
    
    </div>
    <div class="row">
        <div class="col">
    {{#if userRole.isAdmin}}
      <a href="/eventos/crear" class="btn btn-warning"> crear evento</a>
    {{/if}}
    </div>
    </div>
 
</div>