<div class="container text-white pt-5 mt-5">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src={{movie.posterURLs.original}} class="img-fluid rounded-start" alt="{{movie.title}}">
                    </div>
                    <div class="col-md-8 text-dark">
                        <div class="card-body p-5">
                            <h2 class="card-title">{{movie.title}}</h2>
                            <h6 class="card-text">Created by {{movie.creators}}</h6>
                            <p class="card-text">{{movie.overview}}</p>
                            <h5>Cast</h5>
                            <p class="card-text">{{movie.cast}} </p>
                            <h5>Genres</h5>
                            {{#each movie.genres}}
                            <span class="card-text">{{name}} | </span>
                            {{/each}}
                            <p class="card-text"> <i class="fas fa-star" style="color: #F4B400;"></i>
                                {{movie.imdbRating}}/100
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>