<div class="bg-dark h-auto">
    <div class="container pt-5">
        <h1 class="text-white text-center pt-5">Series 2023</h1>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
            {{#each show.result}}
            <div class="col">
                <div class="card h-100">
                    <img src="https://image.tmdb.org/t/p/original{{posterPath}}" class="card-img-top" alt="..." />
                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <h5 class="card-title">{{title}}</h5>
                        <p>Seasons: {{seasonCount}}</p>

                        <a href="/series/detalles/{{imdbId}}" class="btn green-bt">Ver detalles</a>
                        {{#each streamingData}}

                        <a href="{{this.url}}" class="btn btn-outline-secondary mt-2 text-dark" target="_blank">
                            Watch on
                            {{@key}}
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col text-center p-4">

                <a href="/series-new?cursor={{previousCursor}}" class="btn green-bt text-white">Previous</a>

                <a href="/series-new?cursor={{nextCursor}}" class="btn green-bt text-white">Next</a>

            </div>
        </div>
    </div>
</div>